<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Primary Meta Tags -->
    <title>Sign Up - chartpoll</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Join chartpoll">
    <meta name="description" content="Join chartpoll.">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <!-- CSS only -->
    <link rel="stylesheet" href="/view-assets/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="/view-assets/Semantic-UI-CSS-master/components/progress.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/view-assets/css/style.css">
    <link rel="icon" href="">
    <style>
        body {
            overflow: auto;
        }
    </style>
</head>

<body>


    <div class="cpform-container">
        <div class="row">
            <div class="col-md-6 col-lg-6 image-container">
                <img src="/view-assets/images/loginimage.JPG" alt="Decorative Image">
            </div>
            <div class="col-md-6 col-lg-6 signup-form">
                 <div class="header item">
                     <img class="chartpoll-logo" src="/view-assets/images/chartpoll-logo-new.JPG">
                     chartpoll
                 </div>
                 <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                     </div>
                 </div>
                 <br>
                 
                <div class="col">
                  <p>Just a few more details</p>
                         <form action="" method="post">
                            
                            <fieldset>
                                <div class="form-group">
                                    <label for="InputFirstName">First Name</label>
                                    <input type="text" class="form-control chartpoll-input" id="InputFirstName"
                                        placeholder="Enter First Name">
                                </div>
                                <div class="form-group">
                                    <label for="InputLastName">Last Name</label>
                                    <input type="text" class="form-control chartpoll-input" id="InputLastName"
                                        placeholder="Enter Last Name">
                                </div>
                                <div class="form-group">
                                    <label for="InputRegion">Region</label>

                                    <select class="form-control chartpoll-input" name="" id="InputRegion"
                                        placeholder="Select Region">
                                        <option value="">Select Region</option>
                                        <option value="">South-South</option>
                                        <option value="">South-East</option>
                                        <option value="">South-West</option>
                                        <option value="">South-North</option>

                                    </select>

                                </div>
                                <div class="row">
                                    <div class="col-md-5 form-group">
                                        <label for="InputMobileNumber">Mobile Number</label>
                                        <select class=" form-control chartpoll-input" name="" id="">
                                            <option value="">Nigeria (+234)</option>
                                        </select>
                                    </div>
                                    <div class="col-md-7 form-group">
                                        <label aria-hidden="true" for="InputMobileNumber">Mobile Number</label>
                                        <input type="tel" class="form-control chartpoll-input" pattern="[0-9]*"
                                            id="InputMobileNumber" placeholder="">
                                    </div>



                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="InputDob">DOB</label>
                                        <input type="date" class="form-control chartpoll-input" id="InputDob"
                                            placeholder="Enter your email address">
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label for="InputGender">Gender</label>
                                        <select class="form-control chartpoll-input" name="" id="">
                                            <option value="">Male</option>
                                            <option value="">Female</option>
                                            <option value="">Can't say</option>
                                        </select>

                                    </div>
                                </div>

                                <button name="next" class="next cp-largebtn">Proceed</button>
                            </fieldset>
                            <fieldset class="interest">
                                <div>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="ICT"><span>ICT</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Relationship"><span>Relationship</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Travel"><span>Travel</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Places"><span>Places</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="People"><span>People</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Nigeria"><span>Nigeria</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Medicine"><span>Medicine</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Web Development"><span>Web Development</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Tradition"><span>Tradition</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Tech"><span>Tech</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Trends"><span>Trends</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Stories"><span>Stories</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Fashion"><span>Fashion</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Food"><span>Food</span></label>
                                    <label for=""><input type="checkbox" name="interest" id=""
                                            value="Business"><span>Business</span></label>
                                </div>
                                <input type="button" name="previous" class="previous" value="Previous" />
                                <button type="submit">Proceed</button>
                            </fieldset>


                        </form>

                    
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="/view-assets/js/custom.js"></script>
    <link rel="stylesheet" href="/view-assets/Semantic-UI-CSS-master/components/progress.min.js">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>